/* стили основного блока page */
.page {
  font-family: 'Inter', sans-serif;
  color: white;
  background-color: #2A2C2F;
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  .page {
    max-width: 767px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .page {
    max-width: 1023px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .page {
    max-width: 1279px;
  }
}
