/* подзаголовок в блоке cover  */
.cover__subtitle {
  margin: 0;
  padding-top: 32px;
  max-width: 360px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 767px) {
.cover__subtitle {
  padding-top: 16px;
  max-width: 260px;
  font-size: 14px;
  line-height: 16px;
}
}
