.place__paragraph {
  grid-area: paragraph;
  margin: 0;
  font-size: 18px;
  line-height: 29px;
  padding-bottom: 26px;
}


.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 25px;
  padding-left: 16px;
  padding-right: 16px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 25px;
}
}
