/* стили блока cover меняем только падинги */
.cover {
  margin: 0;
  padding-top: 92px;
}

@media screen and (max-width: 767px) {
  .cover {
  padding-top: 66px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
  padding-top: 90px;
}
}
@media screen and (min-width: 1280px) {
  .cover {
  padding-left: 48px;
  padding-right: 48px;
}
}
