/* заголовок h3 на картинке в блоке cover  */
.cover__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  }
}
